@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

.resort-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  gap: 2rem;
}

.resort-container h1 {
  position: absolute;
  top: 3%;
  left: 15%;
  align-self: center;
  color: #fcf9f9;
  font-family: 'Great Vibes', cursive;
  font-size: 4.5em;
}

.details-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.resort-description {
  display: flex;
  justify-content: center;
}

.col-md-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
}

.col-md-5 span {
  font-size: 4em;
  font-family: 'Great Vibes', cursive;
  color: rgb(61, 61, 199);
}
