* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

#root {
  display: flex;
  flex-direction: row;
  height: 100%;
}

header {
  display: none;
}

nav {
  width: 100%;
  display: flex;
  border-right: 1px solid rgb(225, 190, 190);
}

nav h1 {
  font-family: sans-serif;
}

nav ul , a {
  list-style: none;
  text-decoration: none;
  width: 100%;
  text-align: center;
  height: 100%;
  line-height: 35px;
  transition: .5s;
  color: #000000;
  font-weight: 500;
  border-radius: 2px;
  padding: 0;
}

nav ul li {
  width: 100%;
  padding: 5px 0;
  display: flex;
}

nav ul a:hover {
  background-color: rgb(130, 165, 48);
  color: #fff;
}

.active > p {
  background-color: rgb(130, 165, 48);
  color: #fff;
}

p {
  margin-bottom: 0px;
}

@media only screen and (max-width: 767px) {
  header {
    display: flex;
    height: 40px;
    padding: 10px 5px;
    font-size: 19px;
    align-items: center;
  }
  nav {
    display: flex;
    height: 100vh;
    position: fixed;
    z-index: 1;
    background-color: rgb(29, 26, 26);
    color: #fff;
    left: -100%;
    transition: 850ms;
  }

  nav ul {
    width: 100%;
    padding: 0;
  }

  nav ul li a{
    color: #fff;
    width: 100%;
  }

  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .open {
    position: fixed;
    left: 0;
    transition: 350ms;
  }

  .sessions {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login {
    padding: 50px 0;
  }

}